@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/*estilos global */
*{
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    }

/* Fontes */
body {
    font-size: 16px;
    font-family: "Darker Grotesque", sans-serif;
    opacity: 0.1px;
    background: url(Imagens/Background.png);
    overflow: hidden;

}

/* estilo do main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}


