.filmes {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 4.5rem;
}
.barrapesq {
    background-color: var(--principal-800);
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3.5rem;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.linhabarra {
    display: flex;
    margin-left: 5rem;
}

.linhabarra > input {
    background-color: var(--cinza-50);
    width: 65.875rem;
    height: 2.813rem;
    border-radius: 1.5rem;
    font-family: 'Roboto';
    font-size: 1.25rem;
    letter-spacing: .1rem;
    padding: 1rem;
    border: none;
}
.linhafiltros{
    display:flex;
    gap: 5rem;
    padding: 1rem 5rem;
}
.linhafiltros > select{
    background-color: var(--complementar-800);
    width: 19.375rem;
    height: 3.25rem;
    border-radius: .75rem;
    padding: .75rem 1.5rem;
    color: var(--principal-100);
    font-size: 1.5rem;
    font-family: 'Roboto';
    letter-spacing: .1rem;
    border: none;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.linhafiltros > select > option {
    background-color: var(--cinza-50);
    color: var(--cinza-900);
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}   
h1 {
    font-family: 'Nunito Sans';
    font-size: 3rem;
    font-weight: bold;
    color: var(--texto-50);
    letter-spacing: .15rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    max-width: 65.875rem;
    margin: 0 auto;
}
.pagButtons {
    display: flex;
    gap: .5rem;
    align-self: center;
}
.numButtons {
    display: flex;
    gap: .5rem;
}
.numButtons > button {
    background-color: var(--sombra-source);
    width: 4.25rem;
    height: 4.25rem;
    border-radius: 0.438rem;
    color: var(--principal-100);
    font-family: 'Roboto';
    font-size: 2rem;
}
.numButtons > button:hover {
    background-color: var(--complementar-500);
}
.numButtons > button:active {
    background-color: var(--complementar-500);
}


@media (max-width: 1200px){
    .cards {
        display: flex;
        flex-direction: column;
    }
}