.login {
    background-image: url("Imagens/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    display: flex;
    justify-content: space-between;
    padding: 10rem 5rem 10rem 3rem;
}
p {
    line-height: normal;
}
.cinlogo {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -2.25rem;
    padding-right: 1rem;
}
.cinlogo > img {
    width: 48.838rem;
    height: 17.634rem;
}
.logotext{
    width: 36.25rem;
    height: 14rem;
    margin: -1rem 0 0 0;
}
.logotext > p{
    text-align: start;
    color: var(--cinza-50);
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-size: 1.5rem;
    letter-spacing: 0.25rem;
}
.loginform {
    background-color: var(--principal-800);
    width: 30.5rem;
    height: 37.5rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--texto-50);
    padding: 2.8rem;
    gap: 1.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.text > h1 {
    font-size: 3rem;
    font-family: 'Nunito Sans';
    letter-spacing: .25;
    font-weight: bold;
}
.text > p {
    font-size: 1.5rem;
    font-family: 'Roboto';
    text-align: start;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input > input {
    background-color: var(--principal-100);
    width: 24.375rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 400;
    border: none;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
    padding: 1.5rem;
}
a {
    text-align: start;
    margin:-1rem 0 0 0.5rem;
    font-family: 'Roboto';
}

.buttons > button{
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--cinza-50);
    box-shadow: 0 0.317rem 0.375rem 0 rgba(0, 0, 0, 0.25);
}
.enterbutton {
    background-color: var(--principal-400);
    width: 24.375rem;
    height: 2.75rem;
}
hr {
    height: 0.125rem;
    width: 25.20rem;
    color: var(--principal-100);
    margin: 2rem 0 2.5rem 0;
}
.cadasbutton {
    background-color: var(--confirm-source);
    width: 13.75rem;
    height: 2.75rem;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: var(--cinza-50);
    box-shadow: 0 0.317rem 0.375rem 0 rgba(0, 0, 0, 0.25);
}
