.root {
  position: relative;
  width: 1440px;
  height: 1799px;
  align-items: flex-start;
  background-color: #1e1e1e;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.background {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1440px;
  height: 1799px;
  transform: translateX(-50%);
}
.icon {
  width: 100%;
  height: 100%;
}
.horarios {
  position: absolute;
  left: 45px;
  top: 619px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.group8 {
  position: relative;
  width: 356px;
  height: 52px;
}
.frame2 {
  position: absolute;
  left: 0;
  right: 70.5056%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 26px;
}
._2d {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame3 {
  position: absolute;
  left: 35.1124%;
  right: 35.3933%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 26px;
}
._3d {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame4 {
  position: absolute;
  left: 70.2247%;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 26px;
}
.imax {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame17 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.frame172 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame21 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  padding: 24px 24px 48px;
  border-radius: 8px;
  background-color: #141414;
}
.frame18 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  padding: 0 3px;
}
.frame22 {
  width: min-content;
  height: min-content;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #d48c29;
}
._2d2 {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame173 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 20px;
}
.group13 {
  position: relative;
  width: 105px;
  height: 52px;
}
.frame42 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._1520 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group14 {
  position: relative;
  width: 105px;
  height: 52px;
}
.frame43 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._1740 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group15 {
  position: relative;
  width: 112px;
  height: 52px;
}
.frame44 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._200 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group16 {
  position: relative;
  width: 105px;
  height: 52px;
}
.frame45 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._2210 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame182 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.frame212 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  padding: 24px 24px 48px;
  border-radius: 8px;
  background-color: #141414;
}
.frame183 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  padding: 0 3px;
}
.frame23 {
  width: min-content;
  height: min-content;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #d48c29;
}
._3d2 {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame174 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 20px;
}
.group132 {
  position: relative;
  width: 106px;
  height: 52px;
}
.frame46 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._1530 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group152 {
  position: relative;
  width: 105px;
  height: 52px;
}
.frame47 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._2015 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame213 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 24px 24px 48px;
  border-radius: 8px;
  background-color: #141414;
}
.frame184 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  padding: 0 3px;
}
.frame24 {
  width: min-content;
  height: min-content;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #d48c29;
}
.imax2 {
  color: #141414;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.frame175 {
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 20px;
}
.group133 {
  position: relative;
  width: 105px;
  height: 52px;
}
.frame48 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._1620 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.group153 {
  position: relative;
  width: 107px;
  height: 52px;
}
.frame49 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  align-self: flex-start;
  padding: 8px 20px;
  outline: solid 3px #06c;
  border-radius: 5px;
}
._180 {
  color: #06c;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: min-content;
  flex: 1;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.fundo {
  opacity: 0.8;
  position: absolute;
  left: 50%;
  top: 170px;
  width: 1440px;
  height: 385px;
  background-image: linear-gradient(180deg, #00264dff 0%, #00264d00 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  transform: translateX(-50%);
}
.frame1 {
  position: absolute;
  left: 689px;
  top: 452px;
  width: 310px;
  height: min-content;
  align-items: center;
  gap: 92px;
  padding: 12px 48px 12px 24px;
  border-radius: 11px;
  background-color: #00557b;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.bairro {
  color: #d2dbff;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icRoundExpandLess {
  width: 24px;
  height: 24px;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle15 {
  position: absolute;
  left: 689px;
  top: 452px;
  width: 11px;
  height: 52px;
  border-radius: 30px 0 0 31px;
  background-color: #06c;
}
.frame12 {
  position: absolute;
  left: 315px;
  top: 452px;
  width: 310px;
  height: min-content;
  align-items: center;
  gap: 164px;
  padding: 12px 48px 12px 24px;
  border-radius: 11px;
  background-color: #00557b;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cidade {
  color: #d2dbff;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icRoundExpandLess2 {
  width: 24px;
  height: 24px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.rectangle152 {
  position: absolute;
  left: 315px;
  top: 452px;
  width: 11px;
  height: 52px;
  border-radius: 30px 0 0 31px;
  background-color: #06c;
}
.capa {
  position: absolute;
  left: 45px;
  top: 215px;
  width: 230px;
  height: 340px;
  border-radius: 8px;
  background-image: url('/src/Imagens/Capa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.rectangle17 {
  position: absolute;
  left: 662px;
  top: 223px;
  width: 50px;
  height: 50px;
  border-radius: 6.6667px;
  background-color: #fbc115;
}
._12 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  position: absolute;
  left: 673.667px;
  top: 236.3332px;
  width: 25px;
  height: min-content;
  flex-direction: column;
}
.quandoUmEscaravelhoAlienigenaS {
  color: #f3f3f3;
  font-size: 20px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  position: absolute;
  left: 315px;
  top: 320px;
  width: 422px;
  height: min-content;
  flex-direction: column;
}
.titulo {
  color: #c6c6c6;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: 315px;
  top: 284px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.besouroAzul {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: 315px;
  top: 215px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.besouroAzul2 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: 315px;
  top: 215px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
