.register {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    padding: 8rem 15rem;
    gap: 5rem;
}
.call {
    width: 60.375rem;
}
.call > p {
    color: var(--cinza-branco);
    font-size: 3rem;
    font-family: 'Nunito Sans';
    letter-spacing: .25;
    font-weight: bold;
}
.calltext {
    width: 60.375rem;
}
.calltext > p {
    color: var(--cinza-branco);
    font-size: 1.5rem;
    font-family: 'Roboto';
    letter-spacing: 0.25rem;
}


.regform {
    background-color: var(--principal-800);
    width: 59.5rem;
    height: 50rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 4rem;
}
.regform > h1 {
    color: var(--texto-50);
    font-size: 3rem;
    font-family: 'Nunito Sans';
    font-weight: bold;
    letter-spacing: .25;
    margin-bottom: 2rem;

}
.regform > input {
    background-color: var(--principal-100);
    width: 32.5rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    border: none;
    font-family: 'Roboto';
    font-size: 1.25rem;
    letter-spacing: .05rem;
    padding: 1rem;
    box-shadow: 0 0.317rem 0.375rem 0 rgba(0, 0, 0, 0.25);
    align-self: center;
}
.regform > button {
    background-color: var(--principal-400);
    width: 10.625rem;
    height: 2.75rem;
    border-radius: 0.625rem;
    color: var(--cinza-50);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    align-self: center;
    box-shadow: 0 0.317rem 0.375rem 0 rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}
