.filmes {
  top: 74rem;
  display: flex;
  gap: 1rem;
  border-radius: 0.5rem;  
  width: 15rem;
  margin-left: 5rem;
 
}

.central {
  color: var(--cinza-branco); 
  width: 15rem;
  height: 4rem;
  margin-left: 5rem;
  margin-top: 7rem;
  font-size: 2rem;
}

 p {
  color: var(--cinza-branco);
  font-size: 1.5rem;
  line-height: 3rem;
 }

.section {
  background-color: var(--callToAction-source);
  color: var(--cinza-branco);
  border-radius: 0.5rem;
  height: 1.9rem;
  width: 15rem;
  font-size: 1.19rem;
  
}

.link {
  color: var(--cinza-branco);
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  margin-top: 1rem;
  text-decoration: underline !important;
}

@media (max-width: 773px){
  .TituloExposicao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15rem;
  }

  .filmes{
    display: flex;
    flex-direction: column;  
  }
  .link{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width:773px) and (max-width: 1280px){
  .filmes{
    display: flex;
    flex-direction: column; 
  }
  .section > .Filme, .Filme2, .Filme3, .Filme4, .Filme5{
    width: 30rem; 
  }
  .TituloExposicao > h1{
    font-size: 3rem;
    margin-left: 5rem;   
  }
  .link{
    font-size: 2rem;
    margin-right: 7.5rem;
  }
  .NomeFilme{
    font-size: 2rem;
  }
  .Filme{
    width: 30rem;
  }
}