.rectangle31 {
  position: absolute;
  left: 50%;
  top: calc(50% - -0.5px);
  width: 800px;
  height: 355px;
  border-radius: 16px;
  background-color: #cc8000;
  box-shadow: 0px 4px 4px 0px #00000080;
  transform: translate(-50%, -50%);
}
.confirmacaoDeReserva {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  font-family: Nunito Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: calc(50% - 54px);
  top: calc(50% - 94.5px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.temCertezaDeQueDesejaConfirmar {
  color: #f3f3f3;
  font-size: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.04em;
  position: absolute;
  left: 370px;
  top: 628px;
  width: 694px;
  height: min-content;
  flex-direction: column;
}
.botao {
  position: absolute;
  left: calc(50% - -153.3541px);
  top: 722px;
  width: 262.7917px;
  height: 106px;
  place-content: center;
  align-items: center;
  padding: 26.5px 17.6667px;
  border-radius: 17.6667px;
  background-color: #03b349;
  transform: translateX(-50%);
}
.confirmar {
  color: #f3f3f3;
  font-size: 35.3333px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.botao2 {
  position: absolute;
  left: calc(50% - 153.6042px);
  top: 722px;
  width: 262.7917px;
  height: 106px;
  place-content: center;
  align-items: center;
  padding: 26.5px 17.6667px;
  border-radius: 17.6667px;
  background-color: #bb180f;
  transform: translateX(-50%);
}
.cancelar {
  color: #f3f3f3;
  font-size: 35.3333px;
  font-weight: 600;
  font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
