@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 45rem;
  background-color: #004A9B;
  margin: auto; 
  margin-top: 10vh; 
  border-radius: 0.5rem;
}

.Textos {
  text-align: center;
  margin-bottom: 2rem; 
}

.Textos > .Titulo_Container {
  font-family: 'Nunito sans';
  font-size: 3rem;
  color: var(--texto-50);
}

.Textos > .Subtitulo_Container {
  font-family: 'Nunito sans';
  color: var(--texto-50);
  font-size: 1.5rem;
  margin-top: 1.3rem;

}

.Textos > .Sub_Container {
  font-family: 'Nunito sans';
  color: var(--texto-50);
  font-size: 1.5rem;
}

.Nome, .Assunto, .Textarea {
  text-align: center;
  margin-top: 2rem;
}

.Nome > input, .Assunto > input, .Textarea > textarea {
  width: 24rem; 
  height: 2.5rem; 
  padding-left: 1.3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--principal-100);
  font-family: 'Roboto';
  font-size: 1.25rem;
}

.Textarea > textarea {
  height: 18rem;
  resize: none;
  padding-top: 1rem;
}

.Enviar {
  width: 9rem;
  height: 2.75rem;
  background-color: #6D98FB;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Enviando {
  font-family: 'Poppins', sans-serif;
  color: var(--cinza-50);
  font-size: 2rem;
}

.Enviar{
  display: flex;
  margin-left: 7rem;
  margin-top: 1.5rem;
}


@media (min-width: 360px) and (max-width: 844px){
  .Container{
    width: 15rem;
    height: 40rem;
  }
  .Button1{
    font-size: 0.5rem;
  }
  .Textarea > Textarea{
    width: 13rem;
    height:15rem;
  }
  .Textos > .Subtitulo_Container{
    font-size: 1rem;
  }
  .Textos > .Sub_Container{
    font-size: 1rem;
  }
  .Textos > .Titulo_Container{
    font-size: 2.5rem;
  }
  .Nome > .Button1{
    width: 13.8rem;
    height: 1.5rem;
  }
  .Assunto > .Button2 {
    width: 13.8rem;
    height: 1.5rem;
  }
  .Button2{
    font-size: 0.5rem;
  }
  .Enviar{
    width: 5rem;
    align-items: center;
    margin-right: 6.5rem;
  }
  .Enviar > .Enviando{
    font-size: 1rem;
  }
  .Mensagem{
    font-size: 0.5rem;
  }
}





