.footer {
    background-color: var(--sombra-source);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18.938rem;
    padding: 1.5rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.info > div > p {
    color: var(--cinza-branco);
    font-size: 1.5rem;
    font-family: 'Roboto';
    margin-bottom: .5rem;
}
.info address {
    color: var(--principal-100);
    font-size: 1.25rem;
    font-family: 'Roboto';
}

a:link, a:visited, a:hover, a:active {
    color: var(--principal-100);
    text-decoration: none;
}
.cttbuttons{
    margin-top: -1rem;
}
.cttbuttons > button{
    margin: 0 .3rem;
}
.ticketimg{
    width: 22rem;
    height: 13.438rem;
}
.map iframe {
    width: 20.313rem;
    height: 15.25rem;
}
.copyright {
    background-color: var(--sombra2-900);
    height: 2.313rem;
    color: var(--cinza-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.copyright > p {
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 400;
}
@media (max-width: 1000px) {
    .footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: auto;
        
    }
    
}