.Txt {
  position: relative;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

span{
  display: flex;
  margin-top: 0.8rem !important;
}

.img {
  width: 100%;
  height: auto; 
}

.titulo {
  position: absolute;
  top: 12rem;  
  color: var(--cinza-branco);
  font-size: 3rem;
  margin-top: -9rem;  
  padding: .6rem 1.25rem; 
}

.subtxt {
  color: var(--cinza-branco);
  position: absolute;
  margin-top: -6.5rem;
  font-size: 1.5rem;
  padding: .6rem 1.25rem; 
}


@media (min-width: 390px) and (max-width: 844px){
  .subtxt{
    font-size: 0.7rem !important;
    margin-top: -3rem !important;
  }
  .titulo{
    font-size: 1rem !important;
   
  }
}

@media (max-width: 772px){
  .titulo{
    font-size: 0.9rem;
    margin-top: -13rem; 
  }

  .titulo > span{
    margin-top: -2rem;
  }

  .img{
   width: 100% !important;
  }

  .subtxt {
    font-size: 0.8rem;
    margin-top: -3.5rem;
  }
  
}

@media(max-width: 1280px){
  .titulo{
    font-size: 1.7rem;
    margin-top: -13rem;
    
  }
  }
  span{
    margin-top: 4rem;
  }



