.Card {
  height: 32rem;
  margin-top: 3rem;
}

.Slider {
  display: flex;
  justify-content: center;
  width: 80rem;
  height: 32rem;
  margin-left: 4rem;
  position: relative;
}

.Arrows {
  width: 83.8rem; 
  height:5.2rem; 
  margin-top: 3rem;  
  position: absolute;
  top: 50%; 
  margin-left: 0.3rem;
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url('src/Assets/Assets/Arrows.svg'); 
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.Card2, .Card3 {
  display: none;
  height: 32rem;
  margin-top: 3rem;
}

.Txt {
  background-color: #1E1E1E;
}

@media (min-width: 390px) and (max-width: 844px) {
  .Slider > .Card {
    height: 8.5rem;
    margin-top: 8rem;
    margin-left: -24rem;
  }
  .Slider > .Arrows {
    height: 1.4rem;
    margin-left: -0.5rem;
    margin-top: -3.8rem !important;
  }
}

@media (max-width: 772px) {
  .Card {
    width: 25%;
    display: flex;
    margin-right: 65rem;
    margin-top: -5rem;
  }

  .Slider > .Arrows {
    width: 22rem;
    margin-right: 65rem;
    margin-top: 10.5rem;   
  }
}

@media (max-width: 1280px) {
  .Slider > .Card {
    margin-left: -1rem;
    height: 17rem;
    margin-top: 2.3rem;
    
  }
  .Arrows {
    width: 47rem;
    height: 4.8rem !important;
    
  }

  .Slider{
    margin-left: -15rem;
    margin-top: 5rem;
  }

}
